/* Active Gradient */
body,html{
    margin:0;
    width:100%;
    font-family:Exo,sans-serif;
    color:#fff;
    background:linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    background-size:400% 400%;
    animation:gradientBG 15s ease infinite
}

@keyframes gradientBG{
    0%{
        background-position:0 50%
    }
    50%{
        background-position:100% 50%
    }
    100%{
        background-position:0 50%
    }
}
/* Tabs */
ul#tabs-list{
    list-style:none;
    text-align:center;
    border-bottom:1px solid #dfdfdf;
    margin:0;
    padding:0
}
/* Panels */
label.panel-label{
    user-select:none;
    display:block;
    width:100%;
    color:#bdc3c7;
    cursor:pointer;
    background-color:#ecf0f1;
    transition-property:background-color,color;
    transition-duration:.2s
}
label.panel-label:hover{
    color:#00c9a7
}
#panels{
    background-color:#fff
}
#panels .container{
    margin:0 auto;
    width:90%
}
#panels section header label.panel-label{
    padding:12px 24px;
    box-sizing:border-box
}
#panels section main{
    box-sizing:border-box;
    max-height:0;
    opacity:0;
    transition:opacity .6s;
    overflow-y:hidden
}
#managePanel-ctrl:checked~#panels #managePanel main{
    max-height:initial;
    opacity:1;
    padding:48px 24px
}
#breachPanel-ctrl:checked~#panels #breachPanel main{
    max-height:initial;
    opacity:1;
    padding:48px 24px
}
#strengthPanel-ctrl:checked~#panels #strengthPanel main{
    max-height:initial;
    opacity:1;
    padding:48px 24px
}
#generatorPanel-ctrl:checked~#panels #generatorPanel main{
    max-height:initial;
    opacity:1;
    padding:48px 24px
}
#aboutPanel-ctrl:checked~#panels #aboutPanel main{
    max-height:initial;
    opacity:1;
    padding:48px 24px
}
@media all and (max-width:767px){
    #nav-ctrl:checked~#tabs-list #li-for-managePanel{
        max-height:46px;
        opacity:1
    }
    #nav-ctrl:checked~#tabs-list #li-for-breachPanel{
        max-height:46px;
        opacity:1
    }
    #nav-ctrl:checked~#tabs-list #li-for-strengthPanel{
        max-height:46px;
        opacity:1
    }
    #nav-ctrl:checked~#tabs-list #li-for-generatorPanel{
        max-height:46px;
        opacity:1
    }
    #nav-ctrl:checked~#tabs-list #li-for-aboutPanel{
        max-height:46px;
        opacity:1
    }
    #open-nav-label{
        display:block;
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        cursor:pointer
    }
    #nav-ctrl:checked~#tabs-list #open-nav-label{
        display:none
    }
    #close-nav-label{
        display:block;
        max-height:0;
        overflow-y:hidden;
        background-color:#444;
        color:#ecf0f1;
        padding:0;
        transition:max-height .2s;
        cursor:pointer;
        text-transform:uppercase;
        font-size:12px;
        line-height:22px;
        letter-spacing:1px
    }
    #nav-ctrl:checked~#tabs-list #close-nav-label{
        max-height:36px;
        opacity:1;
        padding:12px 24px
    }
    #tabs-list{
        position:relative
    }
    #tabs-list label.panel-label{
        padding:12px 0
    }
    #tabs-list #li-for-managePanel{
        max-height:0;
        overflow-y:hidden;
        transition:max-height .2s
    }
    #tabs-list #li-for-breachPanel{
        max-height:0;
        overflow-y:hidden;
        transition:max-height .2s
    }
    #tabs-list #li-for-strengthPanel{
        max-height:0;
        overflow-y:hidden;
        transition:max-height .2s
    }
    #tabs-list #li-for-generatorPanel{
        max-height:0;
        overflow-y:hidden;
        transition:max-height .2s
    }
    #tabs-list #li-for-aboutPanel{
        max-height:0;
        overflow-y:hidden;
        transition:max-height .2s
    }
    #managePanel-ctrl:checked~#tabs-list #li-for-managePanel{
        max-height:46px;
        opacity:1
    }
    #managePanel-ctrl:checked~#tabs-list #li-for-managePanel label.panel-label{
        background-color:#fff;
        color:#00c9a7;
        background-color:#00c9a7;
        color:#fff
    }
    #breachPanel-ctrl:checked~#tabs-list #li-for-breachPanel{
        max-height:46px;
        opacity:1
    }
    #breachPanel-ctrl:checked~#tabs-list #li-for-breachPanel label.panel-label{
        background-color:#fff;
        color:#00c9a7;
        background-color:#00c9a7;
        color:#fff
    }
    #strengthPanel-ctrl:checked~#tabs-list #li-for-strengthPanel{
        max-height:46px;
        opacity:1
    }
    #strengthPanel-ctrl:checked~#tabs-list #li-for-strengthPanel label.panel-label{
        background-color:#fff;
        color:#00c9a7;
        background-color:#00c9a7;
        color:#fff
    }
    #generatorPanel-ctrl:checked~#tabs-list #li-for-generatorPanel{
        max-height:46px;
        opacity:1
    }
    #generatorPanel-ctrl:checked~#tabs-list #li-for-generatorPanel label.panel-label{
        background-color:#fff;
        color:#00c9a7;
        background-color:#00c9a7;
        color:#fff
    }
    #aboutPanel-ctrl:checked~#tabs-list #li-for-aboutPanel{
        max-height:46px;
        opacity:1
    }
    #aboutPanel-ctrl:checked~#tabs-list #li-for-aboutPanel label.panel-label{
        background-color:#fff;
        color:#00c9a7;
        background-color:#00c9a7;
        color:#fff
    }
    #panels .container{
        width:100%
    }
    #panels section header{
        display:block
    }
}
@media all and (min-width:768px){
    #managePanel-ctrl:checked~#tabs-list #li-for-managePanel{
        pointer-events:none;
        cursor:default;
        transform:translate3d(0,1px,0);
        box-shadow:none;
        border-right:none
    }
    #managePanel-ctrl:checked~#tabs-list #li-for-managePanel.last{
        border-right:1px solid transparent
    }
    #managePanel-ctrl:checked~#tabs-list #li-for-managePanel+li{
        border-left:1px solid #dfdfdf
    }
    #managePanel-ctrl:checked~#tabs-list #li-for-managePanel label.panel-label{
        background-color:#fff;
        color:#00c9a7;
        padding-top:26px
    }
    #managePanel-ctrl:checked~#tabs-list #li-for-managePanel label.panel-label::after{
        height:6px
    }
    #breachPanel-ctrl:checked~#tabs-list #li-for-breachPanel{
        pointer-events:none;
        cursor:default;
        transform:translate3d(0,1px,0);
        box-shadow:none;
        border-right:none
    }
    #breachPanel-ctrl:checked~#tabs-list #li-for-breachPanel.last{
        border-right:1px solid transparent
    }
    #breachPanel-ctrl:checked~#tabs-list #li-for-breachPanel+li{
        border-left:1px solid #dfdfdf
    }
    #breachPanel-ctrl:checked~#tabs-list #li-for-breachPanel label.panel-label{
        background-color:#fff;
        color:#00c9a7;
        padding-top:26px
    }
    #breachPanel-ctrl:checked~#tabs-list #li-for-breachPanel label.panel-label::after{
        height:6px
    }
    #strengthPanel-ctrl:checked~#tabs-list #li-for-strengthPanel{
        pointer-events:none;
        cursor:default;
        transform:translate3d(0,1px,0);
        box-shadow:none;
        border-right:none
    }
    #strengthPanel-ctrl:checked~#tabs-list #li-for-strengthPanel.last{
        border-right:1px solid transparent
    }
    #strengthPanel-ctrl:checked~#tabs-list #li-for-strengthPanel+li{
        border-left:1px solid #dfdfdf
    }
    #strengthPanel-ctrl:checked~#tabs-list #li-for-strengthPanel label.panel-label{
        background-color:#fff;
        color:#00c9a7;
        padding-top:26px
    }
    #strengthPanel-ctrl:checked~#tabs-list #li-for-strengthPanel label.panel-label::after{
        height:6px
    }
    #generatorPanel-ctrl:checked~#tabs-list #li-for-generatorPanel{
        pointer-events:none;
        cursor:default;
        transform:translate3d(0,1px,0);
        box-shadow:none;
        border-right:none
    }
    #generatorPanel-ctrl:checked~#tabs-list #li-for-generatorPanel.last{
        border-right:1px solid transparent
    }
    #generatorPanel-ctrl:checked~#tabs-list #li-for-generatorPanel+li{
        border-left:1px solid #dfdfdf
    }
    #generatorPanel-ctrl:checked~#tabs-list #li-for-generatorPanel label.panel-label{
        background-color:#fff;
        color:#00c9a7;
        padding-top:26px
    }
    #generatorPanel-ctrl:checked~#tabs-list #li-for-generatorPanel label.panel-label::after{
        height:6px
    }
    #aboutPanel-ctrl:checked~#tabs-list #li-for-aboutPanel{
        pointer-events:none;
        cursor:default;
        transform:translate3d(0,1px,0);
        box-shadow:none;
        border-right:none
    }
    #aboutPanel-ctrl:checked~#tabs-list #li-for-aboutPanel.last{
        border-right:1px solid transparent
    }
    #aboutPanel-ctrl:checked~#tabs-list #li-for-aboutPanel+li{
        border-left:1px solid #dfdfdf
    }
    #aboutPanel-ctrl:checked~#tabs-list #li-for-aboutPanel label.panel-label{
        background-color:#fff;
        color:#00c9a7;
        padding-top:26px
    }
    #aboutPanel-ctrl:checked~#tabs-list #li-for-aboutPanel label.panel-label::after{
        height:6px
    }
    ul#tabs-list{
        text-align:center;
        border-bottom:1px solid #dfdfdf;
        background-color:transparent !important;
    }
    ul#tabs-list li{
        display:inline-block;
        text-align:center;
        font-size:.875em;
        width:18%;
        box-shadow:0 -2px 2px rgba(0,0,0,.05);
        border-right:1px solid #dfdfdf;
        position:relative
    }
    ul#tabs-list li:hover{
        transition:none;
        border-right:none
    }
    ul#tabs-list li:hover.last{
        border-right:1px solid transparent
    }
    ul#tabs-list li:hover+li{
        border-left:1px solid #dfdfdf
    }
    ul#tabs-list li label.panel-label{
        position:relative;
        padding:24px 0
    }
    ul#tabs-list li label.panel-label::after{
        content:"";
        position:absolute;
        width:100%;
        left:0;
        bottom:100%;
        background-color:#00c9a7;
        height:0;
        transition-property:height;
        transition-duration:.2s
    }
    ul#tabs-list li label.panel-label:hover{
        padding-top:25px
    }
    ul#tabs-list li label.panel-label:hover::after{
        height:6px
    }
    #close-nav-label,#open-nav-label{
        display:none
    }
    #nav-ctrl{
        display:none
    }
}
@media all and (min-width:900px){
    main{
        width:70%;
        margin:0 auto
    }
}
.panel-radios{
    position:fixed;
    left:50%;
    top:10px;
    width:20px;
    opacity:.5;
    z-index:99
}
.panel-radios:nth-child(1){
    transform:translateX(-50px)
}
.panel-radios:nth-child(2){
    transform:translateX(-30px)
}
.panel-radios:nth-child(3){
    transform:translateX(-10px)
}
.panel-radios:nth-child(4){
    transform:translateX(10px)
}
.panel-radios:nth-child(5){
    transform:translateX(30px)
}
.panel-radios:nth-child(6){
    top:30px;
    transform:translateX(-10px);
    display:block
}
/* Text Styling */
body{
    color:#444;
    font-family:"Open Sans","Helvetica Neue",Helvetica,sans-serif
}
#introduction{
    text-align:center;
    width:100vw;
    margin:0 auto;
    padding:48px 24px;
    color:#fff;
    background-color:transparent;
}
#introduction h1{
    font-size:5vw;
    font-weight:300;
    background-color:transparent
}
#introduction h2{
    font-size:1.8vw;
    font-weight:300;
    background-color:transparent
}
#introduction a{
    color:#dfdfdf;
    font-size:1vw;
    font-weight:300;
    background-color:transparent
}
main h1{
    margin-top:0;
    font-weight:300;
    color:#00c9a7
}
main p{
    line-height:1.8
}

/* Alignment in Panels */
#strengthPanel{
  text-align:center;
}

#generatorPanel{
  text-align:center;
}

#managePanel{
  text-align:center;
}

#breachPanel{
  text-align:center;
}

#aboutPanel{
  text-align:center;
}

red {
   color : red;
  }

/* Password field */
 #password + .glyphicon {
   cursor: pointer;
   pointer-events: all;
 }

 #inPut + .glyphicon {
   cursor: pointer;
   pointer-events: all;
 }

#wrapper {
  max-width:220px;
  margin: auto;
}

/* text styling */
safe{
  @import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
  color:#00ff00;
  font-size :35px;
  font-family: 'Rock Salt', cursive;
  font-weight:900;
}

comp{
  color:red;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
}

#headertext {
    padding: 0 0 0 1vw;
  display: inline-flex;
}

/* Password Generator */
.generator-container {
	margin: 40px auto;
	max-width: 500px;
	width: 90%;
}

/* Logo */
.logo {
	margin-bottom: 40px;
	text-align: center;
	width: 100%;
}

.logo h1 {
	font: normal 4.5em 'Shrikhand', sans-serif;
}

.logo p {
	font-size: 1.5em;
}

/* Rows and Columns */
.app .row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
}

.app .col {
	width: 50%;
}

/* Inputs and Buttons */
.app label {
    color:#546e7a;
	font-size: 18px;
	line-height: 40px;
}

.app input {
	border-style: none;
	text-align: center;
}

.app .btn {
	background-color: #00C9A7;
	border-radius: 4px;
	border-style: none;
	box-shadow: 1px 1px 5px #130f25;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	height: 40px;
	text-align: center;
	transition: 0.3s ease all;
	vertical-align: top;
	width: 100%;
}

.app .btn.disabled {
	background-color: rgba(255, 255, 255, 0.9);
	color: #00FA9A;
}

.app .btn.disabled:hover,
.app .btn.disabled:focus,
.app .btn.disabled:active {
	background-color: rgba(255, 255, 255, 0.9);
	transform: scale(1);
}

.app .btn.false {
	background-color: #00FA9A;
}

.app .number-characters .buttons div {
	width: 100%;
}

.app .number-characters .buttons div:nth-child(1) button {
	border-radius: 4px 0 0 4px;
}

.app .number-characters input {
	background-color: #00FA9A;
	box-shadow: 0 0 50px #666 inset;
	color: #ffffff;
	cursor: default;
	font: bold 20px 'Sofadi One', sans-serif;
	height: 40px;
	width: 100%;
}

.app .number-characters .buttons div:nth-child(3) button {
	border-radius: 0 4px 4px 0;
}

.app .number-characters .buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.app .row.generate {
	margin-bottom: 10px;
}

.app .row.generate .col:nth-child(1) {
	width: 30%;
}

.app .row.generate .col:nth-child(2) {
	width: 65%;
}

.app .row.generate .btn-generate:before {
	background-color: #684bff;
	bottom: calc(40px - 28px);
	content: '';
	display: inline-block;
	height: 14px;
	left: 95%;
	position: absolute;
	transform: rotateZ(45deg);
	transition: 0.3s ease all;
	width: 14px;
	z-index: -1;
}

.app .btn:active {
	transform: scale(0.9);
}

.app .row.generate .btn-generate {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	font: normal 19px 'Sofadi One', sans-serif;
	height: 40px;
	line-height: 40px;
	position: relative;
	width: 100%;
}

.app .btn:hover,
.app .btn:focus,
.app .row.generate .btn-generate:hover:before,
.app .row.generate .btn-generate:focus:before {
	background-color: #8b79e5;
}

.app .row.generate .btn-generate i {
	bottom: 1px;
	font-size: 14px;
	margin-left: 20px;
	position: relative;
}

.app .row.generate .input-password::selection {
	background-color: #907bff;
}

.app .row.generate .input-password::-moz-selection {
	background-color: #907bff;
}

.app .row.generate .input-password {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	cursor: pointer;
/* 	font: bold 1em 'Montserrat', sans-serif; */
	height: 40px;
	letter-spacing: 2px;
	line-height: 40px;
	transition: 0.3s ease all;
	width: 100%;
}

.app .row.generate .input-password:hover,
.app .row.generate .input-password:focus {
	border: 1px solid rgba(169, 169, 169, 0.5);
}

.app .row.generate .input-password.small {
	font-size: 11px;
}

.app .row.alert {
	justify-content: flex-end;
}

.app .row.alert .col {
	width: 65%;
}

.app .row.alert .alert-copy {
	opacity: 0;
	text-align: center;
	transition: 0.3s ease all;
}

.app .row.alert .alert-copy.active {
	opacity: 1;
}

.app .row.alert .alert-copy p,
.app .row.alert .alert-copy i {
	font-size: 12px;
}

@media screen and (max-width: 500px) {
	.logo h1 {
		font-size: 2.5em;
	}

	.app .row {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.app .row .col {
		margin-bottom: 20px;
		width: 100%;
	}

	.app .row.generate {
		border-top: 1px solid rgba(0, 0, 0, 0.25);
		padding-top: 40px;
	}

	.app .row.generate .col:nth-child(1), 
	.app .row.generate .col:nth-child(2),
	.app .row.alert .col {
		width: 100%;
	}

	.app .row.generate .btn-generate:before {
		bottom: calc(100% - 42px);
		left: calc(50% - 14px);
		right: calc(50% - 14px);
		top: auto;
	}
}

